/*copied CSS class code from google fonts*/
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
/*main section styles*/
main{
    max-width: 1140px;
    margin:0 auto; /* center*/
}

/*shared styles*/

.orange {
    color: rgb(253, 110, 10);
}

.dark-1 {
    color: rgb(24, 24, 24);
}

.dark-2 {
    color: rgb(71, 71, 71);
}

.dark-3 {
    color: rgb(117, 117, 117);

}

.white-color {
    color: rgb(255, 255, 255);
}

.btn {
    color: #FFFFFF;
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;

    border-radius: 5px;
    border: none;
}
.btn2{
    color: rgb(253, 110, 10);
    background-color: rgb(255, 248, 243);
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    border: 1px solid rgb(253, 110, 10);
    border-radius: 5px;

}
.btn-container{
    display: flex;
    gap: 30px;
}

.section-title {
    color: rgb(24, 24, 24);
    font-size: 35px;
    font-weight: 700;
    text-align: center;

}

.section-description {
    font-size: 18px;
    font-weight: 400;
    color: rgb(117, 117, 117);
    margin-top: 30px;
    margin-bottom: 30px;
}


/*nav styles*/

/*Parent: nav, 2 kids: h3 & ul*/
nav {
    display: flex;
    align-items: center;
    /*vertically center*/
    justify-content: space-between;
    /*creating space in between*/
    margin: 0px 226px;
}

/*parent: ul , 3 kids: 3 li or a */
nav ul {
    display: flex;
    align-items: center;
    /*vertically center*/

}

/*h3: Mary*/
.nav-title {
    font-size: 45px;
    font-weight: 800;
}

/* ul : portfolio, blog, hire me button*/
nav ul li {
    list-style: none;
    /*to remove dots from li*/
}

nav ul li a {
    text-decoration: none;
    /*to remove underline from a*/
    font-size: 20px;
    font-weight: 400;
    margin-right: 51px;

}

/*banner styles*/

/*parent:div(banner), 2 kids:div(banner-content) & img(banner-dp) */
.banner {
    display: flex;
    justify-content: space-between;
    /*creating space in between*/
    margin: 0 38px 0 232px;
}

.banner-content {
    max-width: 587px;
}

.banner-dp {
    width: 584px;
    height: 676px;
}

.banner-greet {
    font-weight: 600px;
    font-size: 45px;
    margin-bottom: 5px;
}

.banner-title {
    font-weight: 800px;
    font-size: 85px;
    margin-bottom: 20px;
}

.banner-description {
    font-weight: 400;
    font-size: 18px;
}

/*header*/

/*parent: header, 2 kids: nav & div(banner)*/
.header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    background-color: rgb(255, 248, 243);
}


/*About section styles*/
.about{
    border-radius: 10px;
    background: rgb(255, 248, 243);
    text-align: center;
    margin-top: 130px;
    padding: 130px 150px;

}
.about-items{
    display: flex;
    justify-content: space-around;

}
.item-title{
  font-weight:400 ;
  font-size:20px ;
  color: rgb(117, 117, 117);

}
.item-description{
  font-weight:700 ;
  font-size:20px ;
  color: rgb(71, 71, 71);

}
.about-descrip{
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    background: rgb(255, 255, 255);
   
}
/*Skills section styles*/
.skills{
    margin-top: 130px;
}
.skills-container{
    display: flex;
    text-align: left;
    gap: 24px;
}

.skill{
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 30px;
    
}
.skill-title{
    color: rgb(24, 24, 24);
    font-size: 20px;
    font-weight: 700;
}
.skill-descrip{
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;
}

/*Resume Section Styles*/
.resume{
    margin-top: 130px;
}
.resume-container{
    display: flex;
    gap: 24px;

}
.resume-col{
    width: 50%;
}
.col-title{
    font-weight: 700;
  font-size:30px;
    color:rgb(71, 71, 71);
}
.exp-title{
    font-weight: 700;
    font-size:25px;
    color:rgb(71, 71, 71);
}
.exp-subtitle{
    font-weight: 600;
    font-size:20px;
    color:rgb(117, 117, 117);

}
.exp-descrip{
    font-weight: 400;
    font-size:16px;
    color:rgb(117, 117, 117);

}
.resume hr{
border: 1px solid rgb(209, 209, 209);

}
.down-cv{
    text-align: center;
    margin-top: 50px;
}

/*footer section Styles*/
.foot{
    background-color: rgb(255, 248, 243);
    display: flex;
    gap: 117px;
    margin-top: 130px;
    padding: 130px 230px;

}
.foot-des{
    font-size: 16px;
    font-weight: 400;
    color: rgb(71, 71, 71);
}
.foot-col{
    width: 50%;
}
footer input[type="text"], input[type="email"], textarea{
    display: block;
    width: 100%;
    border-radius: 5px;
    border: none;
    background: rgb(255, 255, 255);
    padding: 18px 30px;
    margin-bottom: 24px;

}
